<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2016</h1>
<h1 style="font-size: 250%;">Problem Set #3</h1>
<h1 style="font-size: 200%;">Version 1.0</h1>
<h1>Issued Monday 10/03/2016; Due Monday 10/17/2016</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test your approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be penalized by a factor of 70.71% for each class meeting after their due date. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Fill in the fields as described
class Student:
    first = "Cunyuan"
    last = "Huang"
    onyen = "hcuny"
    pid = "730041361"

In this problem set we will revisit the *Monkepo* data discussed in Lecture 3. You may want to revist that lecture to reaquaint yourself with the data set. Your first task will be to construct and populate a database with the following schema.

 <table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;" colspan="2">
            <table><tbody>
            <tr><th colspan="6" style="text-align:center;">Monkepo</th></tr>
            <tr><td><u>mid</u></td>
                <td>name</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:20px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Appearance</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>latitude</u></td>
                <td><u>longitude</u></td>
                <td><u>datetime</u></td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:20px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Class</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>major (1/0)</u></td>
                <td>type</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

The *Monkepo* relation should hold just the *unique* name of a *monkepo* species and an autoincremented primary key, *mid*. When a *Monkepo* appears its location and appearance time are stored as a tuple in the *Appearance* relation. Finally, the *Class* relation is used to hold information about the major and minor class of the monkepo species. The major class is indicated by a value of *1* in the major field, and the minor class by a *0*. There should be no class entry for a *None* minor type.  

Use this verison of the <a href="http://csbio.unc.edu/mcmillan/Media/monkepo.csv" download>data file</a> to fill your database (it is different than the one used in lecture 3).

---
**Part 1:** In the cell provided below write a Python fragment to create the specified database, and name it *"monkepo.db"* (Hint: you should investigate Python's *DateTime* module to find methods for combining the date and time values from the data file into a single attribute). You code should commit and close your database.

In [1]:
import sqlite3
import pandas as pd

monkfile=pd.read_csv('Y://Data//DB//monkepo.csv')

lst_name=monkfile['name'].tolist()
lst_majorclass=monkfile['majorclass'].tolist()
lst_minorclass=monkfile['minorclass'].tolist()
lst_latitude=monkfile['latitude'].tolist()
lst_longitude=monkfile['longitude'].tolist()
#lst_datetime=monkfile['date'].str.cat(monkfile['time'],sep=' ').tolist()
lst_datetime=(monkfile['date']+' '+monkfile['time']).tolist()

conn=sqlite3.connect('Y://Data//DB//monkepo.db')

cur = conn.cursor()

cur.executescript('''
DROP TABLE IF EXISTS Monkepo;
DROP TABLE IF EXISTS Appearance;
DROP TABLE IF EXISTS Class;

CREATE TABLE Monkepo (mid INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT UNIQUE);

CREATE TABLE Appearance (mid INTEGER , latitude REAL, longitude INTEGER, datetime TEXT, 
                         FOREIGN KEY(mid) REFERENCES Monkepo(mid), PRIMARY KEY (mid, latitude, longitude, datetime));
                         
CREATE TABLE Class (mid INTEGER, major INTEGER, type TEXT, 
                    FOREIGN KEY(mid) REFERENCES Monkepo(mid), PRIMARY KEY (mid, major)); 
                      ''')


# Monkepo Relation
unique_name=[]
for i in range(len(lst_name)):
    if lst_name[i] in unique_name:
        continue
    else:
        unique_name.append(lst_name[i])
        cur.execute('INSERT INTO Monkepo (name) VALUES (?)',(lst_name[i],))

#Appearance Relation    
mid_app=[]    
for i in range(len(lst_name)):
    cur.execute('SELECT mid FROM Monkepo WHERE name = ? ', (lst_name[i], ))
    mid_app.append(cur.fetchone()[0])
    
lst_tuple=[(mid_app[i],lst_latitude[i],lst_longitude[i],lst_datetime[i]) for i in range(len(lst_name))]

lst_tuple_unique=list(set(lst_tuple))

cur.executemany('''INSERT INTO Appearance
        (mid , latitude , longitude, datetime) 
        VALUES ( ?, ?, ?, ? )''',  (lst_tuple_unique) )


#CLass Relation

unique_name1=[]
for i in range(len(lst_name)):
    if lst_name[i] in unique_name1:
        continue
    else:
        unique_name1.append(lst_name[i])
        cur.execute('SELECT mid FROM Monkepo WHERE name = ? ', (lst_name[i], ))
        mid_cur=cur.fetchone()[0]        
        cur.execute('INSERT INTO Class(mid, major, type) VALUES (?,?,?)',(mid_cur,1, lst_majorclass[i]))
        if  lst_minorclass[i]=='None':
            continue
        else:
            cur.execute('INSERT INTO Class(mid, major, type) VALUES (?,?,?)',(mid_cur,0, lst_minorclass[i]))
        


conn.commit()
cur.close()

---
**Part 2:** Using the database that you created in part 1, write Python function to count the frequency of appearances of each Monkepo species. Your function should take the name of your database as an argument and return a sorted list of tuples (Monkepo.name, #appearances) with the most frequent first. Implement this function in using a dictionary like we did in Lecture 3.

In the cell below, enter the definition of your function, followed by a call to it, where the result is displayed via a Pandas data frame as shown in the code fragment supplied.

In [2]:
import sqlite3
import pandas

def freq_count1(db_name):
    conn=sqlite3.connect(db_name)
    cur = conn.cursor()    
    species_count={}
    for row in cur.execute('''SELECT m.name from Appearance a
                           inner join Monkepo m
                           on a.mid=m.mid 
                           '''):
        if row[0] not in species_count:
            species_count[row[0]] = 1
        else:
            species_count[row[0]] += 1
    
    
    data=list(species_count.items())
    data.sort(key=lambda tup: tup[1], reverse=True) #学习一个
    df=pandas.DataFrame(data, columns=["Name", "Rating"])
    
    return df
    

freq_count1('Y://Data//DB//monkepo.db')

           Name  Rating
0        PigDye   24445
1       AttaRat   18661
2       RopeSaw   10397
3        DewEel    8717
4         Veeee    7356
5       NovaNet    4766
6      TarPiece    4036
7         TubaZ    3639
8         ARasp    2593
9     AnIronAd-    2497
10    AnIronAd+    2472
11       HiOdds    1849
12     ClayFire    1643
13    PigTooted    1570
14   TurboSpell    1543
15       Rustay    1232
16      NoLedge    1203
17       ByBark    1183
18     PigKarma    1123
19      APigOwl    1123
20        Snake    1100
21    GGExecute    1029
22    UsualBarb     924
23       YankMe     610
24   JiffyPlugG     591
25       HasRoe     585
26       Ripsin     577
27       Nakkau     569
28     IrateCat     568
29      DuckSpy     541
..          ...     ...
93     RevelGar       7
94   VerbIElect       7
95    IronGated       6
96      WingZee       6
97    HipOrWalt       5
98        RigMe       5
99      WarmOak       5
100      Nagger       4
101    DoingInk       4
102      Didroo       4
103     HamCoke       4
104   RaidOrgan       3
105    HairPads       3
106    RunSuave       3
107     Brovolt       3
108   LassHands       3
109    InaneCar       3
110   GimmeATen       3
111  IonHelment       2
112   HardICzar       2
113    ALazaKam       2
114       Pyhon       2
115   AlienSent       1
116        XiNo       1
117     NoLoJet       1
118    RaveNoOp       1
119     Asniper       1
120   BasilToes       1
121      ARichU       1
122     NoElFar       1

[123 rows x 2 columns]

---
**Part 3:** Implement a second version of your function to count the frequency of appearances of each Monkepo species, but this time use SQL's "GROUP BY" directive. The input and output of this version should be the same as the one you implemented in Part 2. Display your answer using a Pandas data frame as well.

In [3]:
import sqlite3
import pandas

def freq_count2(db_name):
    conn=sqlite3.connect(db_name)
    cur = conn.cursor()
    listOfTuples=[]
    for row in cur.execute('''SELECT name, count(*) from Appearance a
                           inner join Monkepo m
                           on a.mid=m.mid 
                           group by m.mid
                           order by count(*) DESC'''):
        listOfTuples.append(row)
    
    df=pandas.DataFrame(listOfTuples, columns=["Name", "Rating"])
    
    return df

freq_count2('Y://Data//DB//monkepo.db')

           Name  Rating
0        PigDye   24445
1       AttaRat   18661
2       RopeSaw   10397
3        DewEel    8717
4         Veeee    7356
5       NovaNet    4766
6      TarPiece    4036
7         TubaZ    3639
8         ARasp    2593
9     AnIronAd-    2497
10    AnIronAd+    2472
11       HiOdds    1849
12     ClayFire    1643
13    PigTooted    1570
14   TurboSpell    1543
15       Rustay    1232
16      NoLedge    1203
17       ByBark    1183
18     PigKarma    1123
19      APigOwl    1123
20        Snake    1100
21    GGExecute    1029
22    UsualBarb     924
23       YankMe     610
24   JiffyPlugG     591
25       HasRoe     585
26       Ripsin     577
27       Nakkau     569
28     IrateCat     568
29      DuckSpy     541
..          ...     ...
93     RevelGar       7
94   VerbIElect       7
95      WingZee       6
96    IronGated       6
97        RigMe       5
98    HipOrWalt       5
99      WarmOak       5
100     HamCoke       4
101    DoingInk       4
102      Didroo       4
103      Nagger       4
104   GimmeATen       3
105     Brovolt       3
106   LassHands       3
107    HairPads       3
108    InaneCar       3
109   RaidOrgan       3
110    RunSuave       3
111       Pyhon       2
112  IonHelment       2
113    ALazaKam       2
114   HardICzar       2
115        XiNo       1
116     NoLoJet       1
117   AlienSent       1
118   BasilToes       1
119    RaveNoOp       1
120     Asniper       1
121      ARichU       1
122     NoElFar       1

[123 rows x 2 columns]

---
**Part 4:** Use Jupyter's [*%timeit*](http://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-timeit) function to compare the performance of the two functions that you wrote in parts 2 and 3.

In [4]:
%timeit freq_count1('Y://Data//DB//monkepo.db')
%timeit freq_count2('Y://Data//DB//monkepo.db')

# conclusion: the first function takes more time per loop, the second function takes less time 
#each loop, thus SQL language is faster here.

10 loops, best of 3: 138 ms per loop
10 loops, best of 3: 37.3 ms per loop

---
**Part 5:** In the following cell write a Python function that finds both the rarest and most  common monkepo species for each class. Your function should take your database name as an input and it it should return a list with with a tuple for each distinct class type and columns with the most and least common Monkepo species names.

In [5]:
import sqlite3
import pandas

def class_species(db_name):
    conn=sqlite3.connect(db_name)
    cur = conn.cursor()   
    listOfTuples=[]
    
    for row in cur.execute('''select max_table.type, max_species, min_species from
                             (select type, name max_species from
                             (select c.type, a.mid, m.name, count(*) species_num from 
                             Appearance a inner join Class c 
                             on a.mid=c.mid
                             inner join Monkepo m
                             on m.mid=c.mid
                             group by c.type, c.mid) p
                             group by type
                             having species_num=max(species_num))  max_table
                             inner join
                             (select type, name min_species from
                             (select c.type, a.mid, m.name, count(*) species_num from 
                             Appearance a inner join Class c 
                             on a.mid=c.mid
                             inner join Monkepo m
                             on m.mid=c.mid
                             group by c.type, c.mid) p
                             group by type
                             having species_num=min(species_num))  min_table
                             on max_table.type=min_table.type'''):
        listOfTuples.append(row)
    df=pandas.DataFrame(listOfTuples, columns=["Type", "most_common","least_common"])
    return df
        
        

class_species('Y://Data//DB//monkepo.db')

          Type most_common least_common
0   Aggressive      YankMe   IonHelment
1      Beastly     TrainId    RaidOrgan
2       Boring      PigDye      Asniper
3        Dirty   HerdSwans         XiNo
4       Elfish    ClayFire   WiffyGlutG
5     Freezing        Xjyn         Xjyn
6     Haunting      Stylag       Nagger
7          Hot   TigerHowl    AlienSent
8       Insect      DewEel   FerretTube
9     Metallic   GimmeATen    GimmeATen
10     Mineral     RhoRhyn         XiNo
11      Mystic   GGExecute        Pyhon
12    Shocking     AHickUp      NoLoJet
13       Toxic      DewEel     RunSuave
14        Turf       ARasp     RunSuave
15         Wet      Rustay    BasilToes
16      Winged      PigDye    HardICzar

---
**Part 6:** One of the reasons that Monkepo appear is that they depend on supply stations in order to survive in Earth's harsh environment. The same smartphone app that Millennials use for detecting Mokepos also detects the locations of these supply stations. A list of detected stations is available for <a href="http://csbio.unc.edu/mcmillan/Media/stations.csv" download>download</a> here.

In the next cell you should add a new table to your database called *SupplyStations*. Make sure that you commit and close the modified database.

Then write a code fragment that finds, for each supply station how many Monkepo appearances were closer to it than to any other station. Your code should produce a list of tuples (stationID, latitude, longitude, #ofNearbyMonkepo) sorted from most popular to least popular.

***This problem is challenging, allow for enough time to do it!*** You can approximate the distance between a Monkepo appearance and a supply station by $\sqrt{(latitude_{Monkepo} - latitude_{Station})^2 + (longitude_{Monkepo} - longitude_{Station})^2}$. This is not techically correct, but it is close at the scales and latitudes we are considering.

In [37]:
#Enter your Python 2 code here
import sqlite3
import pandas as pd

#-------------------------------------------------------------------------------------------------------------
#PART1 : create new table SupplyStations
#-------------------------------------------------------------------------------------------------------------
stations=pd.read_csv('Y://Data//DB//stations.csv')
Id_lst=stations['stationID'].tolist()
lst_Id=[int(t) for t in Id_lst]
lat_lst=stations['latitude'].tolist()
lst_lat=[float(t) for t in lat_lst]
long_lst=stations['longitude'].tolist()
lst_long=[float(t) for t in long_lst]

conn=sqlite3.connect('Y://Data//DB//monkepo.db')
cur = conn.cursor()

cur.executescript('''
DROP TABLE IF EXISTS SupplyStations;

CREATE TABLE SupplyStations (stationID INTEGER PRIMARY KEY, latitude REAL, longitude REAL);
                  ''')

for i in range(len(Id_lst)):
    cur.execute('''
                INSERT INTO SupplyStations
                (stationID, latitude , longitude) 
                VALUES (?,?,?)
                ''', (lst_Id[i],lst_lat[i],lst_long[i]))
    
conn.commit()
cur.close()

#-----------------------------------------------------------------------------------------------------------
# PART2: get list of tuples (stationID, latitude, longitude, #ofNearbyMonkepo) 
#-----------------------------------------------------------------------------------------------------------
conn=sqlite3.connect('Y://Data//DB//monkepo.db')
cur = conn.cursor()

lst_app=[]      #list of tuples from Appearance table

for row in cur.execute("""select mid, latitude, longitude
                          from Appearance
                       """):
    lst_app.append(row)
conn.commit()

lst_station=[] #list of tuples from SupplyStations table
for row in cur.execute("""select stationID, latitude, longitude
                          from SupplyStations
                       """):
    lst_station.append(row)    
conn.commit()    

lst_mid_sid=[] #create a new list of tuples (mid, stationID, latitude, longitude) for each appearance with the nearest station
for ele in lst_app:
    dist=[]
    dist=[((ele[1]-sta[1])**2+(ele[2]-sta[2])**2)**0.5 for sta in lst_station]
    fmin=min(dist)
    p=dist.index(fmin)
    lst_mid_sid.append((ele[0],lst_station[p][0],lst_station[p][1],lst_station[p][2]))    


conn.commit()
cur.close()

db = sqlite3.connect(':memory:') #create a temporary database and temporary table Mid_Sid
temp=db.cursor()
temp.executescript('''
    DROP TABLE IF EXISTS Mid_Sid;
    CREATE TABLE Mid_Sid(mid INTEGER ,sid INTEGER,
                       latitude REAL, longitude REAL)''')


temp.executemany("""INSERT INTO Mid_Sid
                (mid ,sid, latitude , longitude) 
                VALUES ( ?, ?, ?, ? ) """,(lst_mid_sid))
                 

db.commit()

result=[] #final result

for row in temp.execute("""select sid stationID, latitude, longitude, count(*) NumofNearbyMonkepo
                from Mid_Sid
                group by sid
                order by NumofNearbyMonkepo DESC"""):
          
    result.append(row)

db.commit()    
temp.close()

for ele in result:            # show final result
    print ele

(1550, 35.91312, -79.048446, 4090)
(1529, 35.914951, -79.053346, 2652)
(1607, 35.912472, -79.054622, 2419)
(1560, 35.91075, -79.053626, 2383)
(1621, 35.91331, -79.055061, 2354)
(1631, 35.911293, -79.052368, 2193)
(1608, 35.911171, -79.051148, 2068)
(1557, 35.914915, -79.049916, 1997)
(1602, 35.912364, -79.05557, 1913)
(1628, 35.909378, -79.051145, 1805)
(1618, 35.912842, -79.054288, 1782)
(1598, 35.909696, -79.046723, 1777)
(1551, 35.913962, -79.050538, 1747)
(1559, 35.910723, -79.054127, 1735)
(1638, 35.927109, -79.026518, 1724)
(1633, 35.928041, -79.027461, 1620)
(1573, 35.911273, -79.04647, 1572)
(1566, 35.9105, -79.050046, 1495)
(1572, 35.913346, -79.051797, 1405)
(1514, 35.914371, -79.054019, 1404)
(1549, 35.914826, -79.052418, 1385)
(1540, 35.914434, -79.050973, 1373)
(1594, 35.911839, -79.049825, 1363)
(1563, 35.907843, -79.047398, 1356)
(1620, 35.912768, -79.045415, 1332)
(1619, 35.911192, -79.049326, 1323)
(1050, 35.929839, -79.033511, 1216)
(1611, 35.910402, -79.04857, 1204)
(1612, 35.910343, -79.047831, 1202)
(1056, 35.928111, -79.031385, 1199)
(1523, 35.911673, -79.060197, 1195)
(1617, 35.911911, -79.051767, 1195)
(1526, 35.914063, -79.055094, 999)
(1614, 35.913512, -79.055861, 994)
(1542, 35.915953, -79.051096, 966)
(1541, 35.913691, -79.052251, 955)
(1577, 35.911168, -79.050234, 948)
(1636, 35.927017, -79.027855, 938)
(1578, 35.910039, -79.049098, 935)
(1053, 35.928483, -79.033402, 933)
(1626, 35.913372, -79.054391, 900)
(1627, 35.908942, -79.052935, 897)
(1525, 35.912062, -79.059233, 884)
(1615, 35.910146, -79.056479, 857)
(1547, 35.914301, -79.050134, 854)
(1516, 35.913781, -79.055549, 847)
(1604, 35.912055, -79.051233, 845)
(1532, 35.914317, -79.054405, 810)
(1052, 35.927401, -79.034642, 806)
(1634, 35.927524, -79.026069, 802)
(1583, 35.911621, -79.045797, 778)
(1589, 35.913236, -79.058245, 776)
(1519, 35.910887, -79.063417, 770)
(1038, 35.933544, -79.029806, 766)
(1509, 35.911424, -79.061448, 763)
(1507, 35.913919, -79.057109, 731)
(1085, 35.910378, -79.064661, 681)
(1510, 35.911514, -79.060403, 680)
(1562, 35.908122, -79.054191, 672)
(1057, 35.925508, -79.032387, 665)
(1537, 35.910741, -79.06156, 636)
(1584, 35.913362, -79.056885, 636)
(1605, 35.909824, -79.049989, 612)
(1527, 35.913915, -79.056078, 611)
(1567, 35.908664, -79.049268, 607)
(1576, 35.910731, -79.049405, 582)
(1609, 35.912925, -79.051155, 549)
(1629, 35.912775, -79.055927, 541)
(1068, 35.925807, -79.033718, 540)
(1635, 35.927745, -79.027068, 531)
(1513, 35.910306, -79.06205, 523)
(1610, 35.912484, -79.058033, 502)
(1595, 35.911863, -79.057682, 493)
(1587, 35.901128, -79.052651, 491)
(1737, 36.099507, -79.266268, 455)
(1517, 35.913666, -79.053839, 444)
(1588, 35.907477, -79.049616, 443)
(1511, 35.909953, -79.062757, 438)
(1603, 35.912161, -79.050738, 429)
(1613, 35.91288, -79.048874, 426)
(1505, 35.910444, -79.061878, 422)
(1556, 35.913627, -79.044932, 422)
(1522, 35.912368, -79.060978, 421)
(1064, 35.930517, -79.034797, 418)
(1552, 35.913227, -79.049678, 417)
(1528, 35.909636, -79.063174, 409)
(1637, 35.927161, -79.027301, 406)
(1582, 35.905927, -79.048282, 369)
(1684, 35.631902, -79.766194, 364)
(1561, 35.908875, -79.054856, 345)
(1579, 35.90568, -79.052765, 341)
(1586, 35.913308, -79.052642, 328)
(1569, 35.910814, -79.046244, 302)
(1590, 35.907564, -79.050506, 290)
(1632, 35.9315, -79.024903, 290)
(1581, 35.907859, -79.050251, 288)
(1535, 35.91439, -79.055029, 282)
(1599, 35.909836, -79.046044, 274)
(1063, 35.927077, -79.031944, 266)
(1047, 35.926743, -79.032519, 265)
(1092, 35.911656, -79.070921, 263)
(1101, 35.908825, -79.064543, 249)
(1508, 35.910508, -79.062895, 246)
(1565, 35.904008, -79.049391, 245)
(1504, 35.908741, -79.063716, 234)
(1065, 35.927513, -79.035484, 227)
(1728, 36.096969, -79.267748, 224)
(1558, 35.904067, -79.054175, 219)
(1103, 35.909755, -79.065016, 214)
(1622, 35.903931, -79.050646, 213)
(1111, 35.909778, -79.07167, 212)
(1593, 35.90368, -79.049701, 205)
(1740, 36.096056, -79.266388, 202)
(1754, 36.097227, -79.268622, 197)
(1687, 35.631056, -79.763977, 195)
(1625, 35.91244, -79.05238, 193)
(1736, 36.096716, -79.273238, 192)
(1596, 35.904492, -79.051605, 191)
(1672, 35.627019, -79.755009, 187)
(1098, 35.911565, -79.072007, 179)
(1520, 35.913152, -79.059133, 177)
(1686, 35.629634, -79.76469, 177)
(1531, 35.911805, -79.063622, 176)
(1692, 35.631571, -79.759706, 176)
(1755, 36.099501, -79.270145, 176)
(1660, 35.630528, -79.761651, 174)
(1110, 35.911062, -79.069259, 169)
(1624, 35.907226, -79.045601, 168)
(1237, 36.073344, -79.098101, 161)
(1106, 35.91437, -79.068313, 152)
(1530, 35.913251, -79.062756, 150)
(1564, 35.898654, -79.051769, 149)
(1644, 35.624849, -79.752842, 149)
(1745, 36.094323, -79.271895, 149)
(1086, 35.910233, -79.068281, 145)
(1037, 35.932741, -79.025781, 143)
(1104, 35.911018, -79.066972, 139)
(1671, 35.627594, -79.754201, 137)
(1678, 35.627257, -79.757252, 136)
(1001, 35.897346, -79.168893, 135)
(1048, 35.92724, -79.0339, 134)
(1067, 35.927086, -79.032877, 133)
(1746, 36.094083, -79.270698, 132)
(1058, 35.927395, -79.033073, 131)
(1095, 35.910128, -79.07314, 131)
(1747, 36.093651, -79.271198, 131)
(1753, 36.097802, -79.270011, 131)
(1229, 36.077123, -79.097692, 129)
(1675, 35.626715, -79.754292, 128)
(1219, 36.073279, -79.106038, 125)
(1121, 35.898439, -79.041368, 120)
(1630, 35.904198, -79.050062, 120)
(1667, 35.630416, -79.757188, 120)
(1125, 35.879022, -79.038789, 119)
(1200, 36.076531, -79.10243, 115)
(1723, 36.069215, -79.403597, 115)
(1126, 35.895912, -79.057865, 108)
(2108, 35.773726, -78.758971, 108)
(1668, 35.629078, -79.757528, 106)
(1690, 35.630469, -79.763842, 106)
(1647, 35.624179, -79.754432, 105)
(1663, 35.631639, -79.759489, 105)
(1680, 35.627336, -79.75811, 104)
(1711, 36.065856, -79.400328, 104)
(1156, 35.899892, -79.043498, 103)
(1093, 35.910954, -79.071488, 101)
(1679, 35.627537, -79.757591, 101)
(1212, 36.080082, -79.104052, 100)
(1127, 35.903659, -79.063457, 98)
(1201, 36.073412, -79.106647, 97)
(1536, 35.921225, -79.062832, 96)
(1639, 35.884085, -79.128907, 96)
(1664, 35.630989, -79.759234, 95)
(1676, 35.627034, -79.756084, 95)
(1046, 35.925, -79.032764, 94)
(1669, 35.627262, -79.756014, 94)
(1575, 35.904139, -79.052726, 93)
(1553, 35.912035, -79.035929, 90)
(1159, 35.900002, -79.043259, 88)
(1606, 35.912714, -79.056411, 88)
(1691, 35.629897, -79.762878, 88)
(1654, 35.626768, -79.753468, 85)
(1112, 35.909486, -79.066023, 84)
(1199, 36.075875, -79.099598, 83)
(1176, 36.073483, -79.099205, 82)
(1642, 35.624227, -79.753525, 82)
(1741, 36.094837, -79.265162, 82)
(1107, 35.910963, -79.070677, 80)
(1568, 35.909668, -79.044903, 80)
(1230, 36.074363, -79.098277, 79)
(1752, 36.097974, -79.273703, 79)
(1097, 35.911462, -79.07467, 78)
(1049, 35.932651, -79.036076, 75)
(1033, 35.479758, -81.519977, 71)
(1548, 35.913247, -79.044744, 71)
(1493, 35.880944, -79.066383, 70)
(2112, 35.771619, -78.762737, 70)
(1036, 35.948528, -79.058014, 69)
(1114, 35.909636, -79.06903, 69)
(1643, 35.62254, -79.753735, 69)
(1211, 36.074644, -79.108287, 67)
(1744, 36.092072, -79.268503, 67)
(1178, 36.072913, -79.099735, 65)
(1735, 36.096722, -79.271977, 65)
(1227, 36.075057, -79.097389, 64)
(1499, 35.883924, -79.065598, 64)
(1730, 36.095179, -79.267857, 64)
(1180, 36.072767, -79.099894, 63)
(1688, 35.630147, -79.764967, 62)
(1704, 36.070825, -79.40152, 62)
(1094, 35.910903, -79.070097, 61)
(1725, 36.072309, -79.400113, 59)
(1043, 35.93491, -79.054882, 58)
(1707, 36.0708, -79.395145, 58)
(1570, 35.91097, -79.042019, 57)
(1574, 35.906541, -79.042781, 57)
(1501, 35.8856, -79.06057, 56)
(1506, 35.915855, -79.062016, 55)
(1682, 35.628538, -79.7655, 55)
(1685, 35.629704, -79.762948, 55)
(1153, 35.896926, -79.029547, 54)
(1524, 35.91557, -79.057167, 54)
(1655, 35.625056, -79.752006, 54)
(1108, 35.911197, -79.073482, 52)
(1130, 35.904132, -79.031908, 51)
(1228, 36.075096, -79.096676, 51)
(1653, 35.626895, -79.753007, 51)
(1070, 35.92644, -79.042655, 50)
(1071, 35.93166, -79.05855, 50)
(1224, 36.075385, -79.102787, 50)
(1090, 35.910362, -79.072811, 49)
(1236, 36.075525, -79.097866, 49)
(1726, 36.096287, -79.269609, 48)
(1734, 36.096592, -79.271726, 48)
(1196, 36.074446, -79.100799, 47)
(1202, 36.074244, -79.099442, 47)
(1208, 36.07485, -79.102691, 47)
(1235, 36.074686, -79.096852, 47)
(1216, 36.0756, -79.09933, 46)
(1220, 36.075263, -79.100243, 46)
(1546, 35.923981, -79.050231, 46)
(2107, 35.773716, -78.761367, 45)
(1494, 35.882598, -79.070055, 44)
(1009, 35.934651, -79.022997, 42)
(1089, 35.911315, -79.064709, 41)
(1555, 35.91538, -79.044203, 41)
(1702, 36.070208, -79.402795, 41)
(1721, 36.067841, -79.401747, 41)
(2109, 35.774223, -78.761545, 40)
(1146, 35.907485, -79.037934, 39)
(1099, 35.910114, -79.066693, 38)
(1580, 35.909986, -79.04193, 38)
(1109, 35.909729, -79.065722, 37)
(1521, 35.913212, -79.063739, 37)
(1661, 35.630178, -79.762258, 37)
(1659, 35.621573, -79.759205, 36)
(1706, 36.072941, -79.400036, 36)
(1035, 35.952351, -79.057999, 35)
(1100, 35.909962, -79.065394, 35)
(1694, 36.069097, -79.398484, 35)
(1714, 36.068283, -79.400783, 35)
(1218, 36.080393, -79.101007, 34)
(1650, 35.625734, -79.752451, 34)
(1096, 35.910264, -79.075079, 33)
(1192, 36.075291, -79.101402, 33)
(1197, 36.076651, -79.099605, 33)
(1232, 36.073771, -79.097867, 33)
(1495, 35.880672, -79.06526, 33)
(1592, 35.91109, -79.044444, 33)
(1727, 36.094744, -79.268903, 33)
(1729, 36.096044, -79.268783, 33)
(1743, 36.095298, -79.266995, 33)
(1183, 36.07259, -79.098618, 32)
(1188, 36.074429, -79.099014, 32)
(1190, 36.074572, -79.099158, 32)
(1193, 36.077426, -79.099571, 32)
(1502, 35.879733, -79.063008, 32)
(1670, 35.625299, -79.755189, 32)
(1731, 36.096884, -79.269323, 32)
(1750, 36.095284, -79.273609, 32)
(1075, 35.925469, -79.078617, 31)
(1157, 35.899772, -79.042531, 31)
(1179, 36.072568, -79.100856, 31)
(1215, 36.07402, -79.098716, 31)
(1597, 35.911297, -79.043008, 31)
(1091, 35.909895, -79.070503, 30)
(1105, 35.911263, -79.070393, 30)
(1198, 36.0772, -79.101838, 30)
(2111, 35.775621, -78.75738, 30)
(1116, 35.877145, -79.043275, 29)
(1703, 36.068974, -79.400576, 29)
(1102, 35.910942, -79.07244, 28)
(1027, 35.940586, -79.019005, 27)
(1077, 35.896331, -79.074905, 27)
(1623, 35.909552, -79.048206, 27)
(1708, 36.06828, -79.398376, 27)
(2113, 35.771031, -78.763374, 27)
(1081, 35.911131, -79.077217, 26)
(1155, 35.895227, -79.022036, 26)
(1023, 35.940035, -79.01826, 25)
(1245, 35.94669, -79.31736, 25)
(1148, 35.901319, -79.029297, 23)
(1496, 35.87967, -79.065731, 23)
(1544, 35.913181, -79.044225, 23)
(1700, 36.07085, -79.400516, 23)
(1717, 36.065799, -79.401722, 23)
(1718, 36.065423, -79.401975, 23)
(1054, 35.932451, -79.035482, 22)
(1080, 35.912861, -79.081797, 22)
(1695, 36.0706, -79.399683, 22)
(1158, 35.899144, -79.04311, 21)
(1497, 35.879901, -79.065461, 21)
(1601, 35.907635, -79.045907, 21)
(1673, 35.626307, -79.754038, 21)
(1040, 35.93736, -79.025954, 20)
(1662, 35.630828, -79.758898, 20)
(1072, 35.931464, -79.05764, 19)
(1645, 35.622957, -79.75499, 19)
(1011, 35.947632, -79.026614, 18)
(1118, 35.900794, -79.06798, 18)
(1150, 35.907598, -79.025359, 18)
(1646, 35.623169, -79.75519, 18)
(1649, 35.626636, -79.752423, 18)
(1651, 35.626187, -79.75322, 18)
(1652, 35.62508, -79.753335, 18)
(1666, 35.63066, -79.759101, 18)
(1698, 36.069452, -79.3994, 18)
(1712, 36.066987, -79.400519, 18)
(1191, 36.078601, -79.099303, 17)
(1195, 36.080297, -79.100445, 17)
(1713, 36.066959, -79.401877, 17)
(1724, 36.071392, -79.400427, 17)
(2104, 35.791292, -78.660519, 17)
(1039, 35.935797, -79.027159, 16)
(1059, 35.931505, -79.036004, 16)
(1129, 35.897328, -79.032431, 16)
(1182, 36.072358, -79.103273, 16)
(1222, 36.077617, -79.100567, 16)
(1231, 36.078826, -79.096877, 16)
(1732, 36.096714, -79.269061, 16)
(1742, 36.096445, -79.267359, 16)
(1751, 36.099472, -79.275355, 16)
(1016, 35.945732, -79.016589, 15)
(1131, 35.901559, -79.033228, 15)
(1152, 35.899293, -79.025449, 15)
(1194, 36.07453, -79.101486, 15)
(1209, 36.077083, -79.099019, 15)
(1272, 35.903971, -78.936825, 15)
(1600, 35.910777, -79.048412, 15)
(1120, 35.899117, -79.034726, 14)
(1265, 35.905175, -78.940128, 14)
(1029, 35.9431, -79.012926, 13)
(1031, 35.952348, -79.014729, 13)
(1044, 35.950779, -79.060936, 13)
(1267, 35.9031, -78.939259, 13)
(1010, 35.949941, -79.019574, 12)
(1014, 35.946788, -79.00981, 12)
(1015, 35.947361, -79.012234, 12)
(1083, 35.919155, -79.07522, 12)
(1149, 35.910613, -79.02192, 12)
(1263, 35.904364, -78.935777, 12)
(1705, 36.074669, -79.401716, 12)
(1709, 36.067612, -79.401037, 12)
(1719, 36.067397, -79.40052, 12)
(1142, 35.897594, -79.033008, 11)
(1696, 36.068916, -79.399924, 11)
(1699, 36.069733, -79.400489, 11)
(1716, 36.066589, -79.401501, 11)
(1030, 35.941821, -79.013526, 10)
(1124, 35.897957, -79.033512, 10)
(1147, 35.906185, -79.041722, 10)
(1288, 35.903451, -78.941477, 10)
(1538, 35.925095, -79.044945, 10)
(1032, 35.479503, -81.526161, 9)
(1084, 35.920063, -79.074235, 9)
(1144, 35.901099, -79.032117, 9)
(1240, 35.949075, -79.239577, 9)
(1279, 35.904924, -78.943687, 9)
(1489, 35.876585, -79.067571, 9)
(1591, 35.911169, -79.043291, 9)
(2110, 35.775731, -78.75503, 9)
(1002, 35.954001, -79.000142, 8)
(1008, 35.936546, -79.013484, 8)
(1034, 35.952222, -79.061187, 8)
(1041, 35.936033, -79.030997, 8)
(1042, 35.933925, -79.055676, 8)
(1045, 35.950998, -79.063304, 8)
(1069, 35.926273, -79.043793, 8)
(1119, 35.899599, -79.03401, 8)
(1491, 35.875464, -79.067535, 8)
(1554, 35.917789, -79.045182, 8)
(2075, 35.779831, -78.652226, 8)
(2082, 35.789597, -78.657934, 8)
(2087, 35.788555, -78.655215, 8)
(1000, 35.897835, -79.18871, 7)
(1006, 35.945415, -79.005728, 7)
(1061, 35.926981, -79.038867, 7)
(1113, 35.915016, -79.068319, 7)
(1135, 35.899764, -79.032501, 7)
(1291, 35.899662, -78.938683, 7)
(1304, 35.430535, -81.503049, 7)
(1492, 35.876826, -79.066594, 7)
(1498, 35.884781, -79.071546, 7)
(1756, 35.890549, -79.114467, 7)
(2083, 35.789775, -78.659658, 7)
(1013, 35.947455, -79.01456, 6)
(1066, 35.931893, -79.035391, 6)
(1115, 35.910481, -79.075646, 6)
(1243, 35.946641, -79.318908, 6)
(1252, 35.912173, -78.937884, 6)
(1283, 35.90449, -78.944054, 6)
(1299, 35.903541, -78.950546, 6)
(1301, 35.425107, -81.50112, 6)
(1302, 35.429485, -81.50396, 6)
(1543, 35.917848, -79.045482, 6)
(1701, 36.070073, -79.400485, 6)
(1710, 36.066409, -79.400713, 6)
(1720, 36.067148, -79.40124, 6)
(2061, 35.782698, -78.64762, 6)
(2065, 35.783263, -78.647559, 6)
(2092, 35.785065, -78.660718, 6)
(1012, 35.950196, -79.015407, 5)
(1021, 35.942713, -79.014816, 5)
(1076, 35.890086, -79.077415, 5)
(1151, 35.898596, -79.030309, 5)
(1255, 35.902293, -78.953168, 5)
(1269, 35.90436, -78.942681, 5)
(1303, 35.429959, -81.502767, 5)
(1640, 35.898621, -79.189407, 5)
(1715, 36.066614, -79.401209, 5)
(2080, 35.788879, -78.64938, 5)
(2096, 35.787341, -78.663896, 5)
(1007, 35.945311, -79.006326, 4)
(1019, 35.941065, -79.01477, 4)
(1024, 35.939004, -79.017448, 4)
(1117, 35.896873, -79.064576, 4)
(1143, 35.899312, -79.033214, 4)
(1246, 35.960709, -79.32243, 4)
(1260, 35.90679, -78.956762, 4)
(1270, 35.903847, -78.935907, 4)
(1271, 35.9045, -78.943411, 4)
(1274, 35.904785, -78.945431, 4)
(1278, 35.903447, -78.94265, 4)
(1287, 35.904356, -78.941028, 4)
(1292, 35.902961, -78.94353, 4)
(1295, 35.909109, -78.94632, 4)
(1296, 35.905383, -78.945998, 4)
(1482, 35.992642, -78.905391, 4)
(1500, 35.890852, -79.062886, 4)
(1757, 35.879366, -79.124126, 4)
(1771, 35.779279, -78.67638, 4)
(1882, 35.782382, -78.638848, 4)
(1911, 35.778448, -78.639353, 4)
(1948, 35.77088, -78.636307, 4)
(1958, 35.770898, -78.637595, 4)
(1995, 35.776264, -78.639593, 4)
(1997, 35.777503, -78.638819, 4)
(2029, 35.774648, -78.656019, 4)
(2032, 35.776953, -78.649686, 4)
(2086, 35.789482, -78.660412, 4)
(2105, 35.792258, -78.662438, 4)
(1020, 35.946353, -79.010394, 3)
(1028, 35.947374, -79.013335, 3)
(1078, 35.913349, -79.079407, 3)
(1132, 35.897239, -79.030711, 3)
(1137, 35.899527, -79.031815, 3)
(1185, 36.074048, -79.109686, 3)
(1206, 36.08156, -79.105456, 3)
(1207, 36.082753, -79.105306, 3)
(1266, 35.904441, -78.940494, 3)
(1276, 35.905404, -78.943323, 3)
(1290, 35.901386, -78.94274, 3)
(1300, 35.427429, -81.500616, 3)
(1545, 35.919672, -79.046489, 3)
(1768, 35.779757, -78.673786, 3)
(1896, 35.77824, -78.639928, 3)
(1910, 35.777721, -78.637075, 3)
(1961, 35.770691, -78.63985, 3)
(1971, 35.771284, -78.641443, 3)
(1973, 35.771496, -78.63989, 3)
(1975, 35.774509, -78.640289, 3)
(1985, 35.775784, -78.64211, 3)
(1986, 35.776965, -78.638019, 3)
(1990, 35.777043, -78.64002, 3)
(1998, 35.776689, -78.639467, 3)
(2028, 35.773338, -78.648815, 3)
(2064, 35.782717, -78.646352, 3)
(2076, 35.781103, -78.656005, 3)
(2088, 35.783689, -78.658892, 3)
(2090, 35.78378, -78.660677, 3)
(1082, 35.913492, -79.078332, 2)
(1123, 35.898805, -79.034152, 2)
(1177, 36.072421, -79.107784, 2)
(1203, 36.08285, -79.100168, 2)
(1225, 36.080507, -79.097595, 2)
(1242, 35.947634, -79.321388, 2)
(1244, 35.948195, -79.319129, 2)
(1281, 35.903784, -78.941846, 2)
(1282, 35.90489, -78.944881, 2)
(1293, 35.901008, -78.939638, 2)
(1294, 35.896459, -78.941845, 2)
(1318, 35.988184, -78.909132, 2)
(1322, 35.990497, -78.906346, 2)
(1324, 35.996822, -78.908443, 2)
(1407, 35.996849, -78.901929, 2)
(1414, 35.995092, -78.896627, 2)
(1419, 35.997148, -78.900294, 2)
(1445, 35.996407, -78.903825, 2)
(1454, 35.991584, -78.905974, 2)
(1458, 35.985567, -78.898522, 2)
(1485, 35.996018, -78.90601, 2)
(1490, 35.876712, -79.067145, 2)
(1738, 36.095039, -79.26367, 2)
(1774, 35.781526, -78.678109, 2)
(1867, 35.782437, -78.640376, 2)
(1900, 35.774055, -78.639331, 2)
(1902, 35.772651, -78.63837, 2)
(1904, 35.774611, -78.639332, 2)
(1908, 35.773918, -78.637515, 2)
(1917, 35.777913, -78.639103, 2)
(1925, 35.775963, -78.635518, 2)
(1949, 35.771106, -78.636795, 2)
(1950, 35.771629, -78.636083, 2)
(1953, 35.77118, -78.638083, 2)
(1967, 35.770519, -78.63893, 2)
(1979, 35.773675, -78.641985, 2)
(1984, 35.775894, -78.640464, 2)
(1988, 35.775781, -78.63922, 2)
(2002, 35.776086, -78.638522, 2)
(2022, 35.77477, -78.643804, 2)
(2030, 35.778941, -78.650838, 2)
(2042, 35.788415, -78.647895, 2)
(2047, 35.786178, -78.647159, 2)
(2056, 35.78098, -78.64779, 2)
(2067, 35.782119, -78.650409, 2)
(2071, 35.780878, -78.648902, 2)
(2074, 35.781705, -78.653189, 2)
(2078, 35.783272, -78.655855, 2)
(2079, 35.783744, -78.656686, 2)
(2084, 35.789209, -78.661485, 2)
(2085, 35.789457, -78.660786, 2)
(2089, 35.784474, -78.658274, 2)
(2099, 35.785883, -78.663108, 2)
(2101, 35.792063, -78.664203, 2)
(1022, 35.94299, -79.013214, 1)
(1026, 35.942015, -79.014117, 1)
(1051, 35.925691, -79.038487, 1)
(1060, 35.925191, -79.037721, 1)
(1079, 35.9141, -79.079537, 1)
(1122, 35.899803, -79.033793, 1)
(1136, 35.899239, -79.03191, 1)
(1138, 35.89965, -79.033255, 1)
(1141, 35.898535, -79.033131, 1)
(1184, 36.073872, -79.109153, 1)
(1253, 35.912792, -78.935794, 1)
(1264, 35.904496, -78.941709, 1)
(1273, 35.905182, -78.940601, 1)
(1280, 35.912886, -78.94462, 1)
(1284, 35.905977, -78.941466, 1)
(1285, 35.905073, -78.945137, 1)
(1286, 35.904722, -78.941646, 1)
(1297, 35.912752, -78.948611, 1)
(1298, 35.907395, -78.946986, 1)
(1320, 35.990877, -78.907255, 1)
(1330, 35.999119, -78.909027, 1)
(1352, 35.997306, -78.907589, 1)
(1357, 35.997333, -78.906326, 1)
(1385, 36.000093, -78.900819, 1)
(1388, 35.997466, -78.906174, 1)
(1393, 36.00044, -78.900052, 1)
(1399, 35.999891, -78.905525, 1)
(1402, 36.000461, -78.903251, 1)
(1404, 35.99704, -78.904552, 1)
(1416, 35.996498, -78.90274, 1)
(1417, 35.992808, -78.896357, 1)
(1423, 35.997197, -78.898581, 1)
(1424, 35.996526, -78.902228, 1)
(1427, 35.998396, -78.902154, 1)
(1433, 35.993435, -78.897447, 1)
(1441, 35.991789, -78.903164, 1)
(1442, 35.992365, -78.903927, 1)
(1446, 35.994722, -78.904916, 1)
(1447, 35.993958, -78.902634, 1)
(1451, 35.995188, -78.899431, 1)
(1456, 35.98838, -78.901823, 1)
(1460, 35.994033, -78.90502, 1)
(1463, 35.995519, -78.900628, 1)
(1464, 35.994971, -78.898919, 1)
(1470, 35.992073, -78.901635, 1)
(1475, 35.993556, -78.904676, 1)
(1476, 35.992515, -78.906145, 1)
(1478, 35.993636, -78.898005, 1)

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly. We do not need your database, since your Notebook should produce it.