<div style="text-align: center;">
<h1>The University of North Carolina at Chapel Hill</h1>
<h1>Comp 521 Files and Databases - Fall 2016</h1>
<h1 style="font-size: 250%;">Problem Set #2</h1>
<h1 style="font-size: 200%;">Version 1.1</h1>
<h1>Issued Friday 09/16/2016; Due Monday 09/26/2016</h1>
</div>

**Homework Information:** The answer cells in this notebook contain metadata that enable it to be automatically parsed. Thus, you must enter your answers *only* into the cells provided. Do not delete any answer cell and/or add a new one to replace it. If you do so by accident, download a new copy of the problem set's notebook and transfer your answers into it. You can introduce new 'coding' cells in an effort to test your approaches to problems, however, these introduced cells will not be considered when grading.

Finally, some of the problems are probably too long to be done the night before the due date, so plan accordingly. Late problem sets will be penalized by a factor of 70.71% for each class meeting after their due date. Feel free to get help from others, but the work you submit in should be your own.

In [1]:
# Do not make any edits in this cell!
class Student:
    first = "Cunyuan"
    last = "Huang"
    onyen = "hcuny"
    pid = "730041361"

In the following questions you are asked to write a single SQL query to find the requested results from the Movies data described in problem set #1.
 <table style="border:none;"><tbody>
        <tr style="border:none;">
            <td style="padding:0px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="6" style="text-align:center;">Movies</th></tr>
            <tr><td><u>mid</u></td>
                <td>title</td>
                <td>releasedate</td>
                <td>runtime</td>
                <td>revenue</td>
                <td>budget</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Cast</th></tr>
            <tr><td><u>mid</u></td>
                <td><u>billing</u></td>
                <td><u>aid</u></td>
                <td>role</td>
            </tr>
            </tbody></table>
            </td>
            <td style="padding:0px 20px;border:none;">
            <table><tbody>
            <tr><th colspan="4" style="text-align:center;">Actors</th></tr>
            <tr><td><u>aid</u></td>
                <td>name</td>
                <td>gender</td>
                <td>birthdate</td>
            </tr>
            </tbody></table>
            </td>
        </tr>
        </tbody></table>

An <a href="http://csbio.unc.edu/mcmillan/Media/movies.db" download>example database</a> and the interactive SQL parser (<a href="http://csbio.unc.edu/mcmillan/Media/iSQL.zip" download>iSQL.zip</a>) are provided for experimentation. You will need to unzip and copy iSQL.py into the same directory as the notebook for this problem set and invoke it as follows:


    import iSQL
    
    query = iSQL.parser("movies.db")
    </code>
    

Make sure that you copy your final SQL query into the cell provided for your answer. Only that cell will be graded.
***Warning***, if your query appears to give the correct result for the given database, that does not mean that it is correct. A correct query must give the requested result for *any* and *all* valid instances of the given database schema.

---
**Problem 1:** Find the titles and release dates of all movies for which "Batman" appears in the title (Hint: You should "like" Batman):

select title, release from movies m
where m.title like '%Batman%';

---
**Problem 2:** Find the first and last name of each actor that played the role of "Batman":

select name from actors a
inner join cast c 
on a.aid=c.aid
where c.role="Batman"

---
**Problem 3:** Find the titles of movies that include a character called "Batman", that do not include the word "Batman" in their title:

select title from movies m
inner join cast c
on m.mid=c.mid
where c.role like "%Batman%"
And m.title not like "%Batman%";

---
**Problem 4:** Find the names of actors that played characters called "Batman" and "Catwoman" in the same Movie:

select x.name Batman, y.name Catwoman from
(select a.name,c.mid from actors a
inner join cast c 
on a.aid=c.aid
where c.role like "%Batman%") x
inner join
(select a.name,c.mid from actors a
inner join cast c 
on a.aid=c.aid
where c.role like "%Catwoman%") y
on x.mid=y.mid

---
**Problem 5:** Find all the actors that have played the role "Batman" in a movie more than once:

select name from actors a
inner join cast c
on a.aid=c.aid
where c.role like "%Batman%"
group by a.aid
having count(*)>1;

---
**Problem 6:** Find all the actors that have reprised a role in more than one "Batman" movie:

select a.name from actors a
inner join cast c
on a.aid=c.aid
inner join movies m
on c.mid=m.mid
where m.mid in
(select m.mid from movies m
where m.title like '%Batman%')
group by c.aid
having count(c.role)>1;

---
**Problem 7:** What actor appeared in the most movies grossing over $10 millon dollars?:

select a.name from actors a
inner join cast c
on a.aid=c.aid
inner join movies m
on m.mid=c.mid
where m.revenue>10000000
group by a.aid
having count(m.mid) =(select max(y.num)
from ( select count(m.mid) num
from actors a
inner join cast c
on a.aid=c.aid
inner join movies m
on m.mid=c.mid
where m.revenue>10000000
group by a.aid) y)

---
**Problem 8:** How many movies were released in each year? (Hint: SELECT DISTINCT strftime('%Y',release) FROM Movies)

select count(m.mid) number, strftime('%Y', release) year 
from movies m
group by strftime('%Y', release);

---
**Problem 9:** What actor-actress pair appear in the most Movies together?

select x.name Actor, y.name Actress, count(x.mid) number from
(select a.name,c.mid from actors a
inner join cast c 
on a.aid=c.aid
where a.gender='M') x
inner join
(select a.name,c.mid from actors a
inner join cast c 
on a.aid=c.aid
where a.gender='F') y
on x.mid=y.mid
group by Actor, Actress
having number= (select max(z.number) from
(select count(x.mid) number from
(select a.name,c.mid from actors a
inner join cast c 
on a.aid=c.aid
where a.gender='M') x
inner join
(select a.name,c.mid from actors a
inner join cast c 
on a.aid=c.aid
where a.gender='F') y
on x.mid=y.mid
group by x.name,y.name) z)

---
**Problem 10:** What movie title is the most repeated?

select m.title from movies m
group by m.title
having count(m.mid) =
(select max(y.num) from 
(select count(m.mid) num
from movies m
group by m.title) y);

---
**Problem 11:** What role is the most common across all movies?

select c.role, count(c.mid) from Cast c
group by c.mid
having count(c.mid)=(select max(y.num)
from (select count(c.mid) num from Cast c group by c.mid) y);

---
**Problem 12:** What actor's movie career has spanned the longest number of years?

select a.name
from movies m
inner join cast c 
on m.mid=c.mid
inner join actors a
on a.aid=c.aid
group by c.aid
having (max(m.release)-min(m.release))=(select max(y.num) from
(select  max(m.release)-min(m.release) num
from movies m
inner join cast c 
on m.mid=c.mid
inner join actors a
on a.aid=c.aid
group by c.aid) y);

Click [here to submit](http://csbio.unc.edu/mcmillan/index.py?run=PS.upload) your completed problem set.

You can submit it as many times as you would like, but only the last submitted version will be graded. If the last submission was after the due date the final score will be reduced accordingly.